.page-nav-bubble {
  display: flex;
  background: white;
  padding: 12px 20px;
  margin: 0px 0;
  border-radius: 14px;
  display: inline-flex;
  gap: 25px;
}

.nav-item {
  font-size: 15px;
  font-weight: 600;
  color: #4b5563;
  cursor: pointer;
  padding-bottom: 4px;
  transition: color .15s ease;
}

.action-item {
  font-size: 15px;
  font-weight: 600;
  color: #4b5563;
  cursor: pointer;
  padding-bottom: 2px;
  padding-top: 2px;
  transition: color .15s ease;
}

.nav-item:hover {
  color: #111827;
}

.nav-item.active {
  color: #111827;
  border-bottom: 2px solid #111827;
}

.action-item:hover {
  color: #111827;
}

.action-item.active {
  color: #111827;
  border-bottom: 2px solid #111827;
}