.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 320px;
  max-width: 480px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px;
}

mat-dialog-actions {
  margin-top: 10px;
}
