.main-container {
  height: 100vh;
}

.sidebar {
  width: 230px;
  background: #1e1e2f;
  color: white;
  padding: 20px 0;
}

.logo {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

mat-nav-list a {
  color: #ccc;
  font-size: 16px;
}

mat-nav-list a.active-link {
  background: #3f51b5;
  color: white;
}

.content {
  padding: 30px;
}
